.material-icons {
  color: #174c07;
}

.content {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
  padding: 3rem;
  border-bottom: 1px solid #f1be11 !important;
  height: auto;
  width: 100%;
}
